*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;
}

.navbar{
    height: 80px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0  3%;
    border-bottom: 1px solid #e8eaf0;
    box-shadow: 0px 0px 10px rgb(86, 86, 86);
    h2{
        font-size: 30px;
    }

}
.name{
    display: flex;
    align-items: center;
    gap: 15px;
}
.dp{
    border: 2px solid #453cff; 
    padding: 1px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba( 69, 60, 255, 1);
}
.dot{
    color: #453cff;
}
.controls{
    display: flex;
    gap: 2rem;
    a{
      color: #687086;
      font-size: 20px;
      font-weight: 400;
      text-decoration: none;
    }
}

.active:hover{
    color:#453cff;
    border-bottom: 3px solid #453cff;
}

.hire{
    display: block;
    border-radius: 10px;
    width: 110px;
    height: 60px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    align-content: center;
    background-color: #635bff;
    box-shadow: 0px 0px 20px rgba( 69, 60, 255, 1);
}
.hire-btn{
    color: white;
   text-decoration: none;
}

.hire:hover{
    border: 3px  solid rgba( 69, 60, 255, 1);
}
@media (max-width: 576px){
    .navbar{
         flex-direction: column;
        height: auto;
        padding: 20px;
        gap: 20px;
    }

    .controls{
        gap: 1rem;
        a{
            font-size: 0.70rem;
        }
    }
    .hire{
        width: 70%;
        max-height: 40px;
        justify-content: center;
    }
}

@media (width: 768px){
    .navbar{
         flex-direction: column;
        height: auto;
        padding: 20px;
        gap: 20px;
    }

    .controls{
        gap: 1rem;
        a{
            font-size: 20px;
        }
    }
    .hire{
        width: 80%;
        max-height: 50px;
        justify-content: center;
    }
}

.hero{
    background-color: rgb(248, 246, 246);
    width: 100vw;
    height: 75vh;
    display: flex;
   justify-content: space-evenly;
    align-items: center;
    position: relative;
    
}

.exp{
    
    background-color: white;
    border-radius:20px;
    font-size: 20px;
    padding: 2%;
    position: absolute;
    margin-left: 74vw;
    margin-top: 22vh;
    .num{
        color: #635bff;
        font-weight: 700;
        font-size: 30px;
    }
}

.right-hero{
    background-color: #ebe9ff;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    justify-items: center;
    align-content: center;
}

.circle{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    text-align: center;
    align-content: center;
    font-size: 80px;
    color: white;
    background-color: #635bff;
}
.heading{
    flex-direction: row;
    display: flex;
    font-size: 30px;
   
}
.color{
    color: #453cff;
}
.career{
    color: #453cff;
    font-weight: 600;
    font-size: 20px;
}

.left-hero{
    flex-direction: column;
    display: flex;
    gap: 2rem;
    .intro{
        font-size: 20px;
        color: #687086;
    }
}
.know-btn{
    display: flex;
    gap: 1rem;
}
.btn{
    display: block;
    width: 150px;
    height: 45px;
    text-align: center;
    align-content: center;
    border-radius: 10px;
    text-decoration: none;
    background-color: #635bff;
    color: white;
    font-weight: 600;
   
}
.contact{
    background-color: white;
    color: black;
    border: 1px solid rgb(200, 200, 200);
}

.social{
    display: flex;
    gap: 1rem;
    a{
        text-decoration: none;
    color: #687086;
    }
}

@media (width: 768px){

    
    .career{
        font-size: 0.75rem;
    }
    .heading{
        h1{
             font-size: 3rem;
        }
       
    }
    .left-hero{
        .intro{
            font-size: 1rem;
        }
      
    }
    .circle{
        height: 150px;
        width: 150px;
        font-size: 60px;
    }
    .right-hero{
        height: 200px;
        width: 200px;
    }
    .exp{
        
            font-size: .80rem;
    
    }
}

@media (max-width: 576px){
    .hero{
        height: 56vh;
        width: 100vw;
    }

    
    .career{
        font-size: 0.65rem;
    }
    .heading{
        h1{
             font-size: 2rem;
        }
       
    }
    .left-hero{
        .intro{
            font-size: 0.75rem;
        }
      
    }
    .circle{
        height: 70px;
        width: 70px;
        font-size: 30px;
    }
    .right-hero{
        height: 90px;
        width: 90px;
    }
    .exp{
        
            font-size: .50rem;
    
    }
}