*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;
}

.navbar{
    height: 80px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 95vw;
    padding: 0  3%;
    border-bottom: 1px solid #e8eaf0;
    box-shadow: 0px 0px 10px rgb(86, 86, 86);
    
    h2{
        font-size: 30px;
    }

}

.name{
    display: flex;
    align-items: center;
    gap: 15px;
}
.dp{
    border: 2px solid #453cff; 
    padding: 1px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba( 69, 60, 255, 1);
}
.dot{
    color: #453cff;
}
.controls{
    display: flex;
    gap: 2rem;
    transition: 5s e;
    a{
      color: #687086;
      border-bottom: 3px solid transparent;
      font-size: 20px;
      font-weight: 400;
      text-decoration: none;
    }
}

.active:hover{
    color:#453cff;
    border-bottom: 3px solid #453cff;
}

.hire{
    display: block;
    border: 3px solid transparent;
    border-radius: 10px;
    width: 110px;
    height: 60px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    align-content: center;
    background-color: #635bff;
    box-shadow: 0px 0px 20px rgba( 69, 60, 255, 1);
}
.hire-btn{
    color: white;
   text-decoration: none;
}

.hire:hover{
    border: 3px  solid rgba( 69, 60, 255, 1);
}
@media (max-width: 576px){
    .navbar{
         flex-direction: column;
        height: auto;
        padding: 20px;
        gap: 20px;
    }

    .controls{
        gap: 1rem;
        a{
            font-size: 0.70rem;
        }
    }
    .hire{
        width: 70%;
        max-height: 40px;
        justify-content: center;
    }
}

@media (width: 768px){
    .navbar{
         flex-direction: column;
        height: auto;
        padding: 20px;
        gap: 20px;
    }

    .controls{
        gap: 1rem;
        a{
            font-size: 20px;
        }
    }
    .hire{
        width: 80%;
        max-height: 50px;
        justify-content: center;
    }
}

.hero{
    background-color: rgb(248, 246, 246);
    width: 100vw;
    height: 85vh;
    display: flex;
   justify-content: center;
    align-items: center;
    gap: 50px;
    position: relative;
}


.ball{
    right: 91%;
    bottom: 75%;
    position: absolute;
    height: 100px;
    width: 100px;
    background: #635bff;
    color: white;
    text-align: center;
    align-content: center;
    font-size: 30px;
    border-radius: 50%;
    animation-name: drop;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-direction: alternate;
}
@keyframes drop {
    from{
        bottom: 75%;

    }
    to{
        bottom: 0%;
    }
    
}

.exp{
    
    background-color: white;
    border-radius:20px;
    font-size: 20px;
    padding: 2%;
    position: absolute;
    margin-left: 74vw;
    margin-top: 22vh;
    .num{
        color: #635bff;
        font-weight: 700;
        font-size: 30px;
    }
}

.right-hero{
    background-color: #ebe9ff;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    justify-items: center;
    align-content: center;
    
}
.title{
    position: absolute;
    margin-left: 680px;
    color: white;
    font-size: 92px;
}

.circle{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    text-align: center;
    align-content: center;
    font-size: 80px;
    color: white;
    background: linear-gradient(60deg,rgb(0, 45, 113),rgb(97, 147, 246),rgb(216, 224, 244));
    animation-name: anime;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    animation-timing-function: linear;
}
@keyframes anime {
    from{

    }
    to{
        transform: rotate(360deg);
    }

}
.heading{
    flex-direction: row;
    display: flex;
    font-size: 30px;
   
}
.color{
    color: #453cff;
}
.career{
    color: #453cff;
    font-weight: 600;
    font-size: 20px;
}

.left-hero{
    flex-direction: column;
    display: flex;
    padding-top: 40px;
    gap: 2rem;
    .intro{
        font-size: 20px;
        color: #687086;
    }
}
.know-btn{
    display: flex;
    gap: 1rem;
}
.btn{
    display: block;
    width: 150px;
    height: 45px;
    text-align: center;
    align-content: center;
    border-radius: 10px;
    text-decoration: none;
    background-color: #635bff;
    color: white;
    font-weight: 600;
   
}
.contact{
    background-color: white;
    color: black;
    border: 1px solid rgb(200, 200, 200);
}

.social{
    display: flex;
    gap: 1rem;
    a{
        text-decoration: none;
    color: #687086;
    }
}

@media (width: 768px){

    
    .career{
        font-size: 0.75rem;
    }
    .heading{
        h1{
             font-size: 3rem;
        }
       
    }
    .left-hero{
        .intro{
            font-size: 1rem;
        }
      
    }
    .circle{
        height: 150px;
        width: 150px;
        font-size: 60px;
    }
    .right-hero{
        height: 200px;
        width: 200px;
    }
    .exp{
        
            font-size: .80rem;
    
    }
}

@media (max-width: 576px){
    .hero{
        height: 56vh;
        width: 100vw;
    }

    
    .career{
        font-size: 0.65rem;
    }
    .heading{
        h1{
             font-size: 2rem;
        }
       
    }
    .left-hero{
        .intro{
            font-size: 0.75rem;
        }
      
    }
    .circle{
        height: 70px;
        width: 70px;
        font-size: 30px;
    }
    .right-hero{
        height: 90px;
        width: 90px;
    }
    .exp{
        
            font-size: .50rem;
    
    }
}

.stat{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #172033;
    width: 100vw;
    height: 16vh;
    z-index: 2;
}
.conf{
    text-align: center;
    height: 50px;
    padding: 5px;
    color: rgb(249, 203, 117);
    font-size: 20px;
    background-color: rgb(245, 109, 97);
    z-index: 1;
    fill-opacity: 80%;
    position: absolute;
    right: 100%;
    animation: straight 6s linear infinite 1.5s;
}
@keyframes chalo {
    from{

    }
    to{
        right: 0%;
    }
}
.plane2{
    right: 100%;
    height: 100px;
    width: 100px;
    position: absolute;
    z-index: 1;
    fill-opacity: 80%;
    animation: straight 6s linear infinite 1s;
}
@keyframes straight {
    from{

    }
    to{
        right: 0%;
    }
}
.stat1{
    border: 1px solid #ffffff18;
    height: 16vh;
    width: 17vw;
    text-align: center;
    align-content: center;
    color: white;
      z-index: 2;
}

.stat-cont1{
    font-size: 32px;
      z-index: 2;
}
.stat-cont2{
    font-size: 16px;
      z-index: 2;
}

#about{
    width: 100vw;
    height: 70vh;
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #f7f8fc;
   position: relative;
}

.aboutpara{
    flex-direction: column;
    display: flex;
    gap: 3rem;
    margin-right: 400px;
    margin-top: 100px;
    
}

h2{
    font-size: 45px;
}

.bio{
    flex-direction: column;
    gap: 30px;
    display: flex;
    width: 30vw;
    margin-top: 170px;
    margin-left: 800px;
    position: absolute;
}

.details{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom:1px solid #e5e7ee ;
}

#skills{
    flex-direction: column;
    display: flex;
    gap: 3rem;
    width: 100vw;
    height: 70vh;
    position: relative;
   
}
.aboutskill{
    flex-direction: column;
     z-index: 2;
    display: flex;
    gap: 30px;
     margin-left: 170px;
     padding-top: 100px;
    justify-content: space-evenly;
   
}
.plane{
    position: absolute;
    z-index: 1;
    height :119px;
    width: 130px;
    right: 100%;
    bottom: 10%;
    animation: movement 4s linear infinite 1s, rotate 3s linear infinite 1s;
     
}
@keyframes movement {
   from{
    right: 100%;
   }
   to{
    right: 0%;
   } 
}

@keyframes rotate {
    0%{

    }
   50%{
      transform: rotate(45deg) translateY(-400px);
   }
    
}

.data{
    height: 7px;
    width: 40vw;
    z-index: 2;
    border-radius: 10px;
    background-color: #dedfe3;
}
.data-fill{
    z-index: 2;
    width: 95%;
    height: 100%;
    background-color: #453cff;
    border-radius: 10px;
}
.percent{
     z-index: 2;
    flex-direction: row;
    display: flex;
    gap: 40px;
    margin-left: 170px;
}
.per-cont{
    z-index: 2;
    width: 40vw;
    margin-bottom: 40px;
}
.per-para{
    z-index: 2;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}
.java{
    z-index: 2;
    width: 85%;
}
.node{
    z-index: 2;
    width: 82%;
}
.css{
    z-index: 2;
    width: 95%;
}
.react{
    z-index: 2;
    width: 88%;
}

.aws{
    z-index: 2;
    width: 75%;
}
html{
    scroll-behavior: smooth;
}
